# DJANGO SECURITY
SECRET_KEY=''
DEBUG=True
ALLOWED_HOSTS=COMMA SEPERATED HOSTS

# DATABASE
DB_ENGINE=''
DB_NAME=''
DB_USER=''
DB_PASS=''
DB_HOST=''
DB_PORT=5432

# EMAIL
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_ADMIN=''

DOMAIN_NAME=''
