{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ project.name }} - Michael Ababao - Web Developer</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'portfolio/assets/img/favicon.png' %}" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'portfolio/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'portfolio/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.2.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'portfolio/assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'portfolio:homepage' %}">Michael Ababao</a></h1>
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
          <a href="https://www.linkedin.com/in/michael-jay-ababao-3518b0162/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/aceaceace30" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="{% url 'portfolio:homepage' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{% url 'portfolio:homepage' %}#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="{% url 'portfolio:homepage' %}#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="{% url 'portfolio:homepage' %}#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="{% url 'portfolio:homepage' %}#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>{{ project.classification|title }} Project</h2>
        </div>

        <div class="row">
          <div class="col-lg-12" data-aos="fade-right">
            {% if not project.cover %}
            <img src="{% static 'portfolio/assets/img/portfolio/coming_soon.png' %}" class="img-fluid border border-secondary" alt="{{ project.name }}" width="750" height="300">
            {% else %}
            <img src="{{ project.cover.url }}" class="img-fluid border border-secondary" alt="{{ project.name }}" width="750" height="300">
            {% endif %}
          </div>
          <div class="col-lg-8 pt-3 content" data-aos="fade-left">
            <h3>{{ project.name }}</h3>
            <div class="row">
              <div class="col-lg-12">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Back end:</strong> {{ project.back_end }}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Front end:</strong> {{ project.front_end }}</li>
                  {% if project.git_link %}
                  <li><i class="icofont-rounded-right"></i> <strong>Github Repo:</strong> <a href="{{ project.git_link }}" target="_blank">{{ project.git_link }}</a></li>
                  {% endif %}
                  {% if project.website_link %}
                  <li><i class="icofont-rounded-right"></i> <strong>Live Demo:</strong> <a href="{{ project.website_link }}" target="_blank">{{ project.website_link }}</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <p>
              {{ project.description }}
            </p>
            <hr/>
            {% if next_project %}
            <div class="col-lg-12">
              {% if previous_project %}
                <h4>Previous Project: <a href="{% url 'portfolio:detail' previous_project.slug %}">{{ previous_project.name }}</a></h4>
              {% else %}
                <h3><a href="{% url 'portfolio:homepage' %}#portfolio">Back to Portfolio</a></h3>
              {% endif %}
              <h4>Next Project: <a href="{% url 'portfolio:detail' next_project.slug %}">{{ next_project.name }}</a></h4>
            </div>
            {% else %}
            <div class="col-lg-12">
              <h3><a href="{% url 'portfolio:homepage' %}#portfolio">Back to Portfolio</a></h3>
            </div>
            {% endif %}
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'portfolio/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'portfolio/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'portfolio/assets/js/main.js' %}"></script>

</body>

</html>