{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Michael Ababao - Web Developer{% endblock %}

{% block hero_section %}
    {% include 'portfolio/includes/hero_section.html' %}
{% endblock %}

{% block content %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% static 'portfolio/assets/img/profile-img2.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>{{ info.job_title }}</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i>
                                    <strong>Birthdate:</strong> {{ info.birthdate }}</li>
                                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> {{ info.city }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> {{ info.age }}</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> {{ info.degree }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>{{ info.description }}</p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">
                    {% for skill in skill_set1 %}
                        <div class="progress">
                            <span class="skill">{{ skill.name }} <i class="val">{{ skill.value }}%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.value }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    {% for skill in skill_set2 %}
                        <div class="progress">
                            <span class="skill">{{ skill.name }} <i class="val">{{ skill.value }}%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.value }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume >
                    <span>
                        <a href="{% static 'portfolio/resume/CV-Michael-Jay-Pery-Ababao.pdf' %}" target="_blank" title="View Resume">View</a> |
                        <a href="{% static 'portfolio/resume/CV-Michael-Jay-Pery-Ababao.pdf' %}" download title="Download Resume">Download</a>
                    </span>
                </h2>

            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>{{ info.full_nae }}</h4>
                        <p><em>{{ info.summary }}</em></p>
                        <ul>
                            <li>{{ info.address }}</li>
                            <li>{{ info.mobile_no }}</li>
                            <li>{{ info.email }}</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>{{ info.education_title1 }}</h4>
                        <h5>{{ info.education_year1 }}</h5>
                        <p><em>{{ info.education_location1 }}</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>{{ info.education_title2 }}</h4>
                        <h5>{{ info.education_year2 }}</h5>
                        <p><em>{{ info.education_location2 }}</em></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    {% for job_experience in job_experiences %}
                        <div class="resume-item">
                            <h4>{{ job_experience.job_title }}</h4>
                            <h5>{{ job_experience.duration }}</h5>
                            <p><em>{{ job_experience.company }}</em></p>
                            <ul>
                                {% for task in job_experience.tasks.all %}
                                    <li>{{ task.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>This is composed of my company, freelance and personal projects that i've built so far.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-company">Company</li>
                        <li data-filter=".filter-freelance">Freelance</li>
                        <li data-filter=".filter-personal">Personal</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                {% for project in projects %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.classification }}">
                        <div class="portfolio-wrap">
                            {% if project.get_image_cover %}
                                <img src="{{ project.get_image_cover }}" class="img-fluid" alt="{{ project.name }}">
                            {% else %}
                                <img src="{% static 'portfolio/assets/img/coming_soon.png' %}"
                                     class="img-fluid" alt="{{ project.name }}">
                            {% endif %}
                            <div class="portfolio-links">
                                <a href="{% if project.cover %}{{ project.cover.url }}{% else %}#{% endif %}"
                                   data-gall="portfolioGallery" class="venobox" title="{{ project.name }}"><i
                                        class="bx bx-plus"></i></a>
                                <a href="{% url 'portfolio:project_details' project.slug %}" title="More Details"
                                   style="font-size:14px; padding-top:10px;">More details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
            </div>

            <div class="row" data-aos="fade-in">
                {% for testimonial in testimonials %}
                    <div class="col-lg-4 pt-3">
                        <div class="card shadow h-100">
                            <div class="card-body">
                                <p class="card-text font-italic h5">"{{ testimonial.positive_remarks }}"</p>
                                <hr/>
                                <small class="font-weight-bold">{{ testimonial.name }}<br/>{{ testimonial.platform }}</small>
                                <br/>
                                <small>{{ testimonial.created_at|date:"M d, Y" }}</small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-lg-12">
                        <p>No Testimonials Available ...</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Feel free to message me for any website projects.</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>{{ info.address }}</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>{{ info.email }}</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p>{{ info.mobile_no }}</p>
                        </div>

                        <div class="others">
                            <i class="bx bx-code"></i>
                            <h4 class="font-weight-light pt-2 under">
                                <a href="{{ project_repo_link }}" title="Project Code Repository" target="_blank">
                                    <u>Project Code</u>
                                </a> |
                                <a href="{% url 'api-root' %}" title="Browsable API" target="_blank">
                                    <u>Browsable API</u>
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{% url 'portfolio:send_message' %}" method="POST" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                       data-msg="Please enter at least 4 chars"/>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                   data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" id="message" rows="10" data-rule="required"
                                      data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock %}