{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}{{ project.name }} - Michael Ababao{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Project Details - {{ project.name }}</h2>
                <ol>
                    <li><a href="{% url 'portfolio:homepage' %}">Home</a></li>
                    <li>Project Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="portfolio-details-container">

                <div class="owl-carousel portfolio-details-carousel">
                    {% for img in project.project_images.all %}
                        <img src="{{ img.image.url }}" class="img-fluid" alt="{{ img.get_image_name }}">
                    {% empty %}
                        <img src="{% static 'portfolio/assets/img/coming_soon.png' %}" class="img-fluid" alt="{{ project.name }}">
                    {% endfor %}
                </div>

                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: {{ project.get_classification_display }}</li>
                        <li><strong>Back-End</strong>: {{ project.back_end }}</li>
                        <li><strong>Front-End</strong>: {{ project.front_end }}</li>
                        {% if project.git_link %}
                            <li><strong>Github Repo:</strong>: <a href="{{ project.git_link }}" target="_blank">{{ project.git_link }}</a></li>
                        {% endif %}
                        {% if project.website_link %}
                            <li><strong>Demo</strong>: <a href="{{ project.website_link }}" target="_blank">{{ project.website_link }}</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            <div class="portfolio-description">
                <h2 class="font-weight-bold">{{ project.name }}</h2>
                <p>{{ project.description|safe }}</p>

                {% if previous_project %}
                <h5 class="pt-4">Previous Project:
                    <a href="{% url 'portfolio:project_details' previous_project.slug %}">
                        {{ previous_project.name }}
                    </a>
                </h5>
                {% endif %}

                {% if next_project %}
                <h5 class="pt-4">
                    Next Project:
                    <a href="{% url 'portfolio:project_details' next_project.slug %}">
                        {{ next_project.name }}
                    </a>
                </h5>
                {% endif %}
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}