{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Blogs | Michael Ababao{% endblock %}

{% block content %}
    <section id="blogs">
        <div class="container">
            <div class="section-title">
                <h2>Blogs</h2>
            </div>

            <div class="row">
                {% for blog in blogs %}
                    <div class="col-lg-6">
                        <div class="card shadow h-100 pt-3">
                            {% if blog.cover %}
                                <img src="{{ blog.cover.url }}"
                                     class="card-img-top"
                                     height="400"
                                     width="250"
                                     alt="{{ blog.title }}-photo">
                            {% else %}
                                <img src="{% static 'blogs/images/no-image-available.png' %}"
                                     class="card-img-top"
                                     height="400"
                                     width="250"
                                     alt="no-image-photo">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">{{ blog.title }}</h5>
                                <p class="card-text">
                                    {% include 'blogs/includes/tags.html' %}
                                </p>
                                <h5><u><a href="{% url 'blogs:blog-detail' blog.slug %}" title="Read more about {{ blog.title }}">Read more...</a></u></h5>
                                <small class="p-0">Posted: {{ blog.created_at|timesince }} ago</small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h2 class="text-center">No available blog post ...</h2>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}