<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Notification for Testimonial</title>
</head>
<body>
    <p>
        Good Day! I would like to have your opinion regarding my performance on our
        recent project {{ testi.project_description }} in {{ testi.platform }} to further
        improve myself.
    </p>

    <p>Please click the link and answer the provided fields: {{ testi.link }}</p>
    <p>Your feedback will mean a lot, It was nice working with you. Thank you.</p>

    <p>Michael Jay Pery Ababao</p>
    <p>Freelance Developer</p>
</body>
</html>