# DJANGO SECURITY
SECRET_KEY='testsecret'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,test.com

# DATABASE
DATABASE_URL=postgres://<username>:<password>@<hostname>:<port>/<dbname>

# EMAIL
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_ADMIN=''

DOMAIN_NAME=''

# AWS
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_STORAGE_BUCKET_NAME=''
